<canvas id="canvas"></canvas>

<section class="btnContainer">
  <button (click)="addRect()">Add Rect</button>
  <button (click)="addCircle()">Add Circle</button>
  <button (click)="toGreen()">To Green</button>
  <button (click)="toBlue()">To Blue</button>
  <button (click)="addText()">Add Text</button>
  <button (click)="bold()">Bold</button>
  <button (click)="underline()">Underline</button>
  <button (click)="italicize()">Italicize</button>
  <button (click)="addImage('')">Add Image</button>
  <input type="file" (change)="uploadImage($event)" />
  <button (click)="rotateLeft()">Rotate Left</button>
  <button (click)="rotateRight()">Rotate Right</button>
  <button (click)="remove()">Delete</button>
  <button (click)="export()">Export</button>
  <button (click)="loadFromLocalStorage()">Import</button>
  <button (click)="undo()">Undo</button>
  <button (click)="redo()">Redo</button>
  <button (click)="addImages()">Add Images</button>
  <button (click)="addSvg()">Add Svg</button>
  <button (click)="canvasToImg()">To Img</button>
</section>

<section>
  <img id="canImg" src="" alt="" />
</section>
